<div class="paragraph_row">
  <div class="grid one left middle">
    <section id="cart" class="cart">
      <div class="cart_wrapper">
        <form action="" method="post">
          <div class="items">
            <div class="header image">Product</div>
            <div class="header name"></div>
            <div class="header quantity">Quantity</div>
            <div class="header price">Price</div>
            <div class="header remove"></div>

            <ul class="item-list">
            </ul>
          </div>
          <div class="subtotal">
            <strong>Subtotal:</strong>
            <p>Loading...</p>
          </div>
          <div class="checkout-form">
            <input type="submit" name="checkout" value="Check out" class="checkout-btn">
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
