<aside class="mini-cart-overlay">
  <div class="mini-cart">
    <section class="shopify_cart cart">
      <div class="cart_wrapper">
        <button rel="button" aria-label="Close Cart" class="close-cart">X</button>

        <form action="" method="post">
          <div class="cart-title"><strong>Your Cart</strong></div>
          <div class="items">
            <ul class="item-list">
            </ul>
          </div>
          <div class="subtotal">
            <strong>Subtotal:</strong>
            <p class="value">Loading...</p>
            <p class="note">Shipping &amp; taxes calculated at checkout</p>
          </div>
          <div class="checkout-form">
            <input type="submit" name="checkout" value="Check out" class="checkout-btn">
          </div>
        </form>
      </div>
    </section>
  </div>
</aside>
