{#
/**
 * @file
 * Default theme implementation to display a product variant.
 *
 * Available variables:
 * - content: All product variant items. Use {{ content }} to print them all.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "store_listing".
 * - shopify_product_variant: The shopify product variant object.
 *
 * @ingroup themeable
 */
#}
<div class="offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ currency }}">
  <link itemprop="availability" href="http://schema.org/{% if available %}InStock{% else %}OutOfStock{% endif %}">

  {% if content.compare_at_price|render %}
    <div class="compare_at_price">{{ content.compare_at_price }}</div>
  {% endif %}
  <div class="price{% if content.compare_at_price|render %} sale {% endif %}" itemprop="price">{{ content.price }}</div>
</div>
