<figure {{ attributes }}>
  <a href="{{ url }}">
    {% if content.extra_field_thumbnail | render %}
    <div class="image">{{ content.extra_field_thumbnail }}</div>
    {% endif %}
    <figcaption class="title">{{ name }}</figcaption>
  </a>
</figure>
